#macro(testaff $v)
	#set($isShown = 0)
	#if ($v )
		#set($isShown = 1)
	#end
#end 

<html>

<head>

<style type="text/css">
html {
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 10px;
line-height: 1.0em;
text-align: left;
}
.title {
border-style: dotted;
border-width: 1px;
border-color: black;
background-color: #CEECF5;
font-size: 12px;
text-align: center;
text-decoration: underline;
}
.underline_shadow {
text-shadow: 2px 2px 8px orange;
text-decoration: underline;
}
.italic {
font-style: italic;
font-size: 9px;
}
.version {
font-style: italic;
font-size: 6px;
text-align: left;
}


.megr {
text-align: left;
font-style: normal;
font-weight: normal;
}
.mital {
text-align: left;
font-style: normal;
font-weight: bold;
}
.gauche {
text-align: left;
}
</style><!-- ici finit l'ensemble des indications de presentation de la page web -------------->
</head>

<body>

#set($famc=$INDI.Famc)
#set($fams=$INDI.Fams)
#set($fam=$fams)
#set($will=$wills)
#set($conjoint = $fams.getOtherSpouse())
#set($child=$children)
#set($famA=$fam.children.fams)
#set($fratrie=$famc.children)
#set($surnom=$INDI.getProperty("NAME:NICK"))
#set($naissance=$INDI.getProperty("BIRT"))
#set($bapteme=$INDI.getProperty("BAPM"))
#set($bapt_CHR=$INDI.getProperty("CHR"))
#set($deces=$INDI.getProperty("DEAT"))
#set($inhumation=$INDI.getProperty("BURI"))
#set($residence=$INDI.getProperty("RESI"))
#set($profession=$INDI.getProperty("OCCU"))
#set ($version="DD_FM_2013/11/03")


<!----------------------------------- Titre de la page --------------------------->
<TABLE width="100%" CELLSPACING="0" COLS="2" BORDER="0">
	<TBODY>
		<TR>
			<TD height="100" WIDTH="65%">
        <center>
          <span class="title"> $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN") ($INDI.Id)</span>
        </center>
      </TD>
			<TD WIDTH="5%">
        <center>
          &nbsp;
        </center>
			<TD WIDTH="30%">
        #set($portrait=$INDI.getProperty("OBJE"))
        #if ($portrait)
         <center>
         <IMG height="100" width="80" SRC="file:///$!INDI.getProperty("OBJE:FILE").AbsolutePath">
         </center>
        #end
      </TD>
		</TR>
	</TBODY>
</TABLE>
<TABLE width="100%" CELLSPACING="0" COLS="2" BORDER="0">
	<TBODY>
		<TR>
			<TD WIDTH="50%" ALIGN="left" VALIGN="top">
        <u>Sosa</u> : 
        #foreach ($event in $INDI.getProperties("_SOSA")) <span class="italic">$event.Value</span>
        #end
			</TD>
			<TD WIDTH="50%" ALIGN="left" VALIGN="top"> 
        <u>Daboville</u> : 
        #foreach ($event in $INDI.getProperties("_SOSA_DABOVILLE")) <span class="italic">$event.Value</span>
        #end
      </TD>
    </TR>
	</TBODY>
</TABLE>


<!----------------------------- Zone de l'identite ---------------------------------------->

#set($naissance=$INDI.getProperty("BIRT"))
#if ($naissance) 
  <br><span class="underline_shadow">NAISSANCE</span> : 
  <span class="italic">$!INDI.getProperty("BIRT:DATE")</span><br>
  <span class="italic">$!INDI.getProperty("BIRT:PLAC")</span>
#end 

#set($bapteme=$INDI.getProperty("BAPM"))
#if ($bapteme)
  <br><span class="underline_shadow">BAPT&Ecirc;ME</span> : 
  <span class="italic">$!INDI.getProperty("BAPM:DATE")</span><br>
  <span class="italic">$!INDI.getProperty("BAPM:PLAC")</span>
#end
#set($bapt_CHR=$INDI.getProperty("CHR"))
#if ($bapt_CHR)
  <br><span class="underline_shadow">BAPT&Ecirc;ME</span> : 
  <span class="italic">$!INDI.getProperty("CHR:DATE")</span><br>
  <span class="italic">$!INDI.getProperty("CHR:PLAC")</span>
#end
<br>
#set($deces=$INDI.getProperty("DEAT"))
#if ($deces)
  <br><span class="underline_shadow">D&Eacute;C&Egrave;S</span> : 
  <span class="italic">$!INDI.getProperty("DEAT:DATE")</span><br>
  <span class="italic">$!INDI.getProperty("DEAT:PLAC")</span> 
#end

#set($inhumation=$INDI.getProperty("BURI"))
#if ($inhumation)
  <br><span class="underline_shadow">INHUMATION</span> : 
  <span class="italic">$!INDI.getProperty("BURI:DATE")</span><br>
  <span class="italic">$!INDI.getProperty("BURI:PLAC")</span>
#end 

<br>

<!-------------------------- Zone de l'adresse ----------------------------------->

#set($residence=$INDI.getProperty("RESI"))
#if ($residence)
  #if($list.size($INDI.getProperties("RESI"))>=2)
    <br><span class="underline_shadow">ADRESSES</span> : 
  #else
    <br><span class="underline_shadow">ADRESSE</span> : 
  #end
  #set($adresse_code=$!resi.getProperty("ADDR:POST"))
  <ul>
  #foreach($resi in $INDI.getProperties("RESI"))
    #if ($!resi.getProperty("ADDR"))
      <li><span class="italic">$!resi.getProperty("ADDR"), $!resi.getProperty("ADDR:CITY"), ($!resi.getProperty("ADDR:POST"))</span><br>
      p&eacute;riode : <span class="italic">$!resi.Date</span></li>
    #else
      <li><span class="italic">$!resi.Place</span> <br> 
      p&eacute;riode : <span class="italic">$!resi.Date</span></li>
    #end
  #end
  </ul>
#end

<!-------------------------- Zone de la profession ----------------------------------->


#set($profession=$INDI.getProperty("OCCU"))
#if ($profession)
  #if($list.size($INDI.getProperties("OCCU"))>=2)
    <br><span class="underline_shadow">PROFESSIONS</span> : 
  #else
    <br><span class="underline_shadow">PROFESSION</span> : 
  #end
  <ul>
  #foreach($occu in $INDI.getProperties("OCCU"))
    <li><span class="italic">$!occu.Value &agrave; $!occu.Place</span><br>
    p&eacute;riode : <span class="italic">$!occu.Date</span> ;</li>
  #end
  </ul>
#end

<!---------------------------------- Mariage ----------------------------------------------->

#testaff($INDI.getProperty("FAMS"))#if ($isShown!=0)
  #if($list.size($INDI.getProperties("FAMS"))>=2)
    <br><span class="underline_shadow">MARIAGES</span> :
    <ul>
    #foreach ($fam in $fams)
      #set($conjoint = $fam.getOtherSpouse())
      #set($mariage=$fam.getProperty("MARR"))
      #set($divorce=$fam.getProperty("DIV"))
      #set($cm=$fam.getProperty("MARC"))
      #set($naiss_conjoint=$conjoint.getProperty("BIRT"))
      #set($dec_conjoint=$conjoint.getProperty("DEAT"))
      <li>
      #if ($mariage)
        $!conjoint.getProperty("NAME") ($conjoint.Id)</span><br>
        <span class="italic">$!mariage.getProperty("DATE")</span> 
        &agrave; <span class="italic">$!mariage.getProperty("PLAC")</span>
      #end
      #if ($divorce)	
        <br><span class="underline_shadow">Divorce</span> : 
        <span class="italic">$!divorce.Date</span> 
        &agrave; <span class="italic">$!divorce.Place</span>
      #end
      </li>
    #end
    </ul>
  #else
    <br><span class="underline_shadow">MARIAGE</span> : 
    <ul>
    #foreach ($fam in $fams)
    #set($conjoint = $fam.getOtherSpouse())
    #set($mariage=$fam.getProperty("MARR"))
    #set($divorce=$fam.getProperty("DIV"))
    #set($cm=$fam.getProperty("MARC"))
    #set($naiss_conjoint=$conjoint.getProperty("BIRT"))
    #set($dec_conjoint=$conjoint.getProperty("DEAT"))
    <li>
    #if ($mariage)
      $!conjoint.getProperty("NAME") ($conjoint.Id)</span><br>
      <span class="italic">$!mariage.getProperty("DATE")</span> 
      &agrave; <span class="italic">$!mariage.getProperty("PLAC")</span>
    #end
    #if ($divorce)	
      <br><span class="underline_shadow">Divorce</span> : 
      <span class="italic">$!divorce.Date</span> 
      &agrave; <span class="italic">$!divorce.Place</span><br>
    #end
    </li>
    #end
    </ul>
  #end
#end

<p align="right"><span class="version">
$version
</span></p>

</body>
</html>