<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=$encoding"/>
        <TITLE>Ascendance patronymique</TITLE>
        <STYLE>
            <!--
            BODY,DIV,TABLE,THEAD,TBODY,TFOOT,TR,TH,TD,P { font-family:"Nimbus Sans L"; font-size:x-small }
            -->
        </STYLE>
        <style type="text/css">
            html {
                font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
                font-size: 0.75em;
                line-height: 1.2em;
            }
            h1 {
                font-family: inherit;
                font-size: 1.5em;
                line-height: 3em;
                font-weight: bold;
                background-color: #FAEBD7;
                text-align: center;
            }
            h2 {
                font-family: inherit;
                font-weight: bold;
                font-size: 1.2em;
                line-height: 1.5em;
                padding-left: 0.5em;
                background-color: #BBACAC;
                text-align: center;
                color: #FFFFFF;
            }
            h3 {
                font-family: inherit;
                font-weight: bold;
                font-size: 1.1em;
                line-height: 1em;
            }
            h4 {
                font-family: inherit;
                font-weight: bold;
                font-size: 1em;
                line-height: 1em;
            }
            .megr {
                font-style: normal;
                font-weight: normal;
            }
            .metit {
                color: #000099;
                text-decoration: underline;
            }
            .droite {
                text-align: right;
            }
            .cent {
                text-align: center;
            }
            .conteneur {
                padding: 0px;
                width: 100%;
                margin-left: 0em;
                margin-top: 0;
                margin-bottom: 0;
            }
            .spacer {
                clear: both;
                margin-top: 0;
                margin-bottom: 0;
                height: 0px;
            }
            .column1 {
                float: left;
                text-align: left;
                width: 45%;
                margin-left: 0.5em;
                margin-right: 0;
                margin-top: 0;
            }
            .column2 {
                float: right;
                text-align: left;
                width: 45%;
                margin-left: 0;
                margin-right: 0.5em;
                margin-top: 0;
            }
            .foncolo {
                border-style: hidden hidden double;
                border-color: black;
                border-top: 0px hidden black;
                background-color: #ccffff;
            }
            .focolo {
                background-color: #ffff99;
            }
            .minicolo {
                border-style: hidden hidden simple;
                border-color: black;
                border-top: 0px hidden black;
                background-color: #ffff99;
            }
        </style><!-- ici finit l'ensemble des indications de presentation de la page web -->
    </HEAD>

    <BODY TEXT="#000000">
        