<!-- Merci de laisser le nom du mod&eagrave;le et le num&eacute;ro de version  -->
<p class="droite">(Fiche individu compl&egrave;te Mod&egrave;le "ChriDan_indi_tout" g&eacute;n&eacute;r&eacute;e par <A HREF="https://www.ancestris.org">Ancestris, logiciel de g&eacute;n&eacute;alogie libre </A> le $date.full_date ;  Sources: mod&egrave;le Island modifi&eacute; par ChriDan &eacute;tendu par Bernard [v. $version])  </p>
</body></html>
