
#set($famc=$INDI.Famc)
#set($fams=$INDI.Fams)
#set($fam=$fams)
#set($fam2=$famc.Husband.famc.Husband.fams)
#set($fam22=$famc.Wife.famc.Husband.fams)
#set($fam3=$famc.Husband.famc.Husband.famc.Husband.fams)
#set($fam4=$famc.Husband.famc.Husband.famc.Husband.famc.Husband.fams)
#set($fam42=$famc.Husband.famc.Husband.famc.Wife.famc.Husband.fams)
#set($fam21=$famc.Husband.famc.Wife.famc.Husband.fams)
#set($fam33=$famc.Wife.famc.Husband.famc.Husband.fams)
#set($fam38=$famc.Wife.famc.Wife.famc.Husband.fams)
#set ($version="2.1")

<h1> L'arbre de <span class="metit"> $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN") </span>
</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<table border="0" cellspacing="0" frame="void" rules="none">
<colgroup>
<col width="150">
<col width="5">
<col width="150">
<col width="11">
<col width="150">
<col width="5">
<col width="150">
</colgroup>
<tbody>

<tr>
<td style="border-style: solid; border-color: rgb(0, 0, 128); border-width: 1px 3px 1px 1px;" align="left" height="86" valign="top" BGCOLOR="#FAEBD7">
<p>
<b>$!famc.Husband.famc.Husband.famc.Husband.getProperty("NAME")</b>
<br>, o  $!famc.Husband.famc.Husband.famc.Husband.getProperty("BIRT:DATE") -  $!famc.Husband.famc.Husband.famc.Husband.getProperty("BIRT:PLAC"), #foreach ($fam3 in $famc.Husband.famc.Husband.famc.Husband.fams)x $!fam3.getProperty("MARR:DATE"), $!fam3.getProperty("MARR:PLAC") #end, + $!famc.Husband.famc.Husband.famc.Husband.getProperty("DEAT:DATE")-  $!famc.Husband.famc.Husband.famc.Husband.getProperty("DEAT:PLAC")</p>
</td>
<td align="left" valign="top">
<br>
<td style="border-style: solid; border-color: rgb(0, 0, 128); border-width: 1px 1px 1px 3px;" align="left" valign="top" BGCOLOR="#FAEBD7">
<p>
<b>$!famc.Husband.famc.Wife.famc.Husband.getProperty("NAME")</b>
<br>, o  $!famc.Husband.famc.Wife.famc.Husband.getProperty("BIRT:DATE") -  $!famc.Husband.famc.Wife.famc.Husband.getProperty("BIRT:PLAC"), #foreach ($fam21 in $famc.Husband.famc.Wife.famc.Husband.fams)x $!fam21.getProperty("MARR:DATE"), $!fam21.getProperty("MARR:PLAC") #end, + $!famc.Husband.famc.Husband.famc.Husband.getProperty("DEAT:DATE")-  $!famc.Husband.famc.Husband.famc.Husband.getProperty("DEAT:PLAC")</p>
</td>
<td align="left" valign="top">
<br>
</td>
<td style="border-style: solid; border-color: rgb(0, 0, 128); border-width: 1px 3px 1px 1px;" align="left" valign="top" BGCOLOR="#FAEBD7">
<p>
<b>$!famc.Wife.famc.Husband.famc.Husband.getProperty("NAME")</b>
<br>, o  $!famc.Wife.famc.Husband.famc.Husband.getProperty("BIRT:DATE") -  $!famc.Wife.famc.Husband.famc.Husband.getProperty("BIRT:PLAC"), #foreach ($fam33 in $famc.Wife.famc.Husband.famc.Husband.fams)x $!fam33.getProperty("MARR:DATE"), $!fam33.getProperty("MARR:PLAC") #end, + $!famc.Wife.famc.Husband.famc.Husband.getProperty("DEAT:DATE")-  $!famc.Wife.famc.Husband.famc.Husband.getProperty("DEAT:PLAC")</p>
</td>
<td align="left" valign="top">
<br>
</td>
<td style="border-style: solid; border-color: rgb(0, 0, 128); border-width: 1px 1px 1px 3px;" align="left" valign="top" BGCOLOR="#FAEBD7">
<p>
<b>$!famc.Wife.famc.Wife.famc.Husband.getProperty("NAME")</b>
<br>, o  $!famc.Wife.famc.Wife.famc.Husband.getProperty("BIRT:DATE") -  $!famc.Wife.famc.Wife.famc.Husband.getProperty("BIRT:PLAC"), #foreach ($fam38 in $famc.Wife.famc.Wife.famc.Husband.fams)x $!fam38.getProperty("MARR:DATE"), $!fam38.getProperty("MARR:PLAC") #end, + $!famc.Wife.famc.Wife.famc.Husband.getProperty("DEAT:DATE")-  $!famc.Wife.famc.Wife.famc.Husband.getProperty("DEAT:PLAC")</p>
</td>
</tr>
<tr>
<td style="border-style: solid; border-color: rgb(0, 0, 128); border-width: 1px 3px 1px 1px;" align="left" height="86" valign="top" BGCOLOR="#FFCCFF">
<p>
<b>$!famc.Husband.famc.Husband.famc.Wife.getProperty("NAME")</b>
<br>, o  $!famc.Husband.famc.Husband.famc.Wife.getProperty("BIRT:DATE"), $!famc.Husband.famc.Husband.famc.Wife.getProperty("BIRT:PLAC")<br> +  $!famc.Husband.famc.Husband.famc.Wife.getProperty("DEAT:DATE")-  $!famc.Husband.famc.Husband.famc.Wife.getProperty("DEAT:PLAC")</p>
</td>
<td align="left" valign="top">
<br>
</td>
<td style="border-style: solid; border-color: rgb(0, 0, 128); border-width: 1px 1px 1px 3px;" align="left" valign="top" BGCOLOR="#FFCCFF">
<p>
<b>$!famc.Husband.famc.Wife.famc.Wife.getProperty("NAME")</b>
<br>, o  $!famc.Husband.famc.Wife.famc.Wife.getProperty("BIRT:DATE"), $!famc.Husband.famc.Wife.famc.Wife.getProperty("BIRT:PLAC")<br> +  $!famc.Husband.famc.Wife.famc.Wife.getProperty("DEAT:DATE")-  $!famc.Husband.famc.Wife.famc.Wife.getProperty("DEAT:PLAC")</p>
</td>
<td align="left" valign="top">
<br>
</td>
<td style="border-style: solid; border-color: rgb(0, 0, 128); border-width: 1px 3px 1px 1px;" align="left" valign="top" BGCOLOR="#FFCCFF">
<p>
<b>$!famc.Wife.famc.Husband.famc.Wife.getProperty("NAME")</b>
<br>, o  $!famc.Wife.famc.Husband.famc.Wife.getProperty("BIRT:DATE"), $!famc.Wife.famc.Husband.famc.Wife.getProperty("BIRT:PLAC")<br> +  $!famc.Wife.famc.Husband.famc.Wife.getProperty("DEAT:DATE")-  $!famc.Wife.famc.Husband.famc.Wife.getProperty("DEAT:PLAC")</p>
</td>
<td align="left" valign="top">
<br>
</td>
<td style="border-style: solid; border-color: rgb(0, 0, 128); border-width: 1px 1px 1px 3px;" align="left" height="50" valign="top" BGCOLOR="#FFCCFF">
<p>
<b>$!famc.Wife.famc.Wife.famc.Wife.getProperty("NAME")</b>
<br> o  $!famc.Wife.famc.Wife.getProperty("BIRT:DATE"), $!famc.Wife.famc.Husband.famc.Wife.getProperty("BIRT:PLAC")<br> +  $!famc.Wife.famc.HWife.famc.Wife.getProperty("DEAT:DATE")-  $!famc.Wife.famc.Wife.famc.Wife.getProperty("DEAT:PLAC")</p>
</td>
</tr>
<tr>
<td style="border-left: 4px solid rgb(0, 0, 128);" align="left" valign="top">
<br>
</td>
<td align="left" height="80" valign="top">
<br>
</td>
<td style="border-right: 4px solid rgb(0, 0, 128);" align="left" valign="top">
<br>
</td>
<td align="left" height="20" valign="top">
<br>
</td>
<td style="border-left: 4px solid rgb(0, 0, 128);" align="left" valign="top">
<br>
</td>
<td align="left" valign="top">
<br>
</td>
<td style="border-right: 4px solid rgb(0, 0, 128);" align="left" valign="top">
<br>
</td>
</tr>
<tr>
<td style="border: 1px solid rgb(0, 0, 128);" align="left" height="86" valign="top" BGCOLOR="#FAEBD7">
<p>
<b>$!famc.Husband.famc.Husband.getProperty("NAME")</b>, o  $!famc.Husband.famc.Husband.getProperty("BIRT:DATE") -  $!famc.Husband.famc.Husband.getProperty("BIRT:PLAC"), #foreach ($fam2 in $famc.Husband.famc.Husband.fams)x $!fam2.getProperty("MARR:DATE"), $!fam2.getProperty("MARR:PLAC") #end, + $!famc.Husband.famc.Husband.getProperty("DEAT:DATE")-  $!famc.Husband.famc.Husband.getProperty("DEAT:PLAC")</p>
</td>
<td align="left" valign="top">
<br>
</td>
<td style="border: 1px solid rgb(0, 0, 128);" align="left" height="50" valign="top" BGCOLOR="#FFCCFF">
<p>
<b>$!famc.Husband.famc.Wife.getProperty("NAME")</b>
<br> o  $!famc.Husband.famc.Wife.getProperty("BIRT:DATE"), $!famc.Husband.famc.Wife.getProperty("BIRT:PLAC")<br> +  $!famc.Husband.famc.Wife.getProperty("DEAT:DATE")-  $!famc.Husband.famc.Wife.getProperty("DEAT:PLAC")</p>
</td>
<td align="left" valign="top">
<br>
</td>
<td style="border: 1px solid rgb(0, 0, 128);" align="left" height="50" valign="top" BGCOLOR="#FAEBD7">
<p>
<b>$!famc.Wife.famc.Husband.getProperty("NAME")</b>, o  $!famc.Wife.famc.Husband.getProperty("BIRT:DATE") -  $!famc.Wife.famc.Husband.getProperty("BIRT:PLAC"), #foreach ($fam22 in $famc.Wife.famc.Husband.fams)x $!fam22.getProperty("MARR:DATE"), $!fam22.getProperty("MARR:PLAC") #end, + $!famc.Wife.famc.Husband.getProperty("DEAT:DATE")-  $!famc.Wife.famc.Husband.getProperty("DEAT:PLAC")</p>
</td>
<td align="left" valign="top">
<br>
</td>
<td style="border: 1px solid rgb(0, 0, 128);" align="left" height="50" valign="top" BGCOLOR="#FFCCFF">
<p>
<b>$!famc.Wife.famc.Wife.getProperty("NAME")</b>
<br> o  $!famc.Wife.famc.Wife.getProperty("BIRT:DATE"), $!famc.Husband.famc.Wife.getProperty("BIRT:PLAC")<br> +  $!famc.HWife.famc.Wife.getProperty("DEAT:DATE")-  $!famc.Wife.famc.Wife.getProperty("DEAT:PLAC")</p>
</td>
</tr>
<tr>
<td style="border-right: 4px solid rgb(0, 0, 128);" align="left" height="80" valign="top">
<br>
</td>
<td style="border-top: 4px solid rgb(0, 0, 128);" align="left" valign="top">
<br>
</td>
<td align="left" valign="top">
<br>
</td>
<td align="left" valign="top">
<br>
</td>
<td align="left" valign="top">
<br>
</td>
<td style="border-top: 4px solid rgb(0, 0, 128);"  align="left" valign="top">
<br>
</td>
<td style="border-left: 4px solid rgb(0, 0, 128);" align="left" valign="top">
<br>
</td>
</tr>
<tr>
<td style="border: 1px solid rgb(0, 0, 128);" align="left" height="60" valign="top" BGCOLOR="#FAEBD7">
<p>
<b>$!famc.Husband.getProperty("NAME")</b>
<br> o  $!famc.Husband.getProperty("BIRT:DATE"), $!famc.Husband.getProperty("BIRT:PLAC")<br> #foreach ($fam1 in $famc.Husband.fams)x $!fam1.getProperty("MARR:DATE"),  $!fam1.getProperty("MARR:PLAC") #end<br> +  $!famc.Husband.getProperty("DEAT:DATE")-  $!famc.Husband.getProperty("DEAT:PLAC")</p>
</td>
<td align="left" valign="top">
<br>
</td>
<td align="left" valign="top">
<br>
</td>
<td align="left" valign="top">
<br>
</td>
<td align="left" valign="top">
<br>
</td>
<td align="left" valign="top">
<br>
</td>
<td style="border: 1px solid rgb(0, 0, 128);" align="left" valign="top" BGCOLOR="#FFCCFF">
<p>
<b>$!famc.Wife.getProperty("NAME")</b>
<br> o  $!famc.Wife.getProperty("BIRT:DATE"), $!famc.Wife.getProperty("BIRT:PLAC")<br> +  $!famc.Wife.getProperty("DEAT:DATE")-  $!famc.Wife.getProperty("DEAT:PLAC")</p>
</td>
</tr>
<tr>
<td style="border-right: 4px solid rgb(0, 0, 128);" align="left" height="60" valign="top">
<br>
</td>
<td style="border-bottom: 4px solid rgb(0, 0, 128);" align="left" valign="top">
<br>
</td>
<td  align="left" valign="top">
<br>
</td>
<td   align="left" valign="top">
<br>
</td>
<td   align="left" valign="top">
<br>
</td>
<td style="border-bottom: 4px solid rgb(0, 0, 128);"  align="left" valign="top">
<br>
</td>
<td style="border-left: 4px solid rgb(0, 0, 128);" align="left" valign="top">
<br>
</td>
</tr>
<tr>
<td align="left" height="86" valign="top">
<br>
</td>
<td align="left" valign="top">
<br>
</td>
<td style="border: 1px solid rgb(0, 0, 128);" colspan="3" align="left" BGCOLOR="#FAEBD7" valign="top">
<p>
<b>$!INDI.getProperty("NAME")</b> <br>o $!INDI.getProperty("BIRT:DATE") &agrave; $!INDI.getProperty("BIRT:PLAC"), + $!INDI.getProperty("DEAT:DATE") &agrave; $!INDI.getProperty("DEAT:PLAC")<br>#foreach ($fam in $fams)
        #if($list.size($fams)>=2)
 x $velocityCount - $!fam.getProperty("MARR:DATE") &agrave; $!fam.getProperty("MARR:PLAC")
        #else
 x $!fam.getProperty("MARR:DATE") &agrave; $!fam.getProperty("MARR:PLAC")
        #end
#set($conjoint = $fam.getOtherSpouse())
<b>avec $!conjoint.getProperty("NAME")</b>, o $!conjoint.getProperty("BIRT"),  $!conjoint.getProperty("BIRT:DATE") &agrave; $!conjoint.getProperty("BIRT:PLAC"), + $!conjoint.getProperty("DEAT") $!conjoint.getProperty("DEAT:DATE") &agrave; $!conjoint.getProperty("DEAT:PLAC")<br> #end
</p>
</td>
<td style="border-left: 1px solid rgb(0, 0, 128);" align="left" valign="top">
<br>
</td>
<td align="left" valign="top">
<br>
</td>
</tr>

</tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p class="droite">(Fiche g&eacute;n&eacute;r&eacute;e par <A HREF="https://www.ancestris.org">Ancestris, logiciel de g&eacute;n&eacute;alogie libre </A> le $date.full_date ) ; Mod&egrave;le Arbre d&eacute;coratif - ChriDan_arbredeco, (source Daniel Durand), version : [v. $version]</p>
<br>
<br>
<br>
<br>
<br>