##Page Break
<a name="toc10"></a>
<tr><td colspan=6>Fiche de travail pour $title</td></tr>
<tr><td>$gedcom.getName("HUSB")</td><td colspan="5">$HUSB</td><td rowspan="7">&nbsp;</td><td rowspan="7">&nbsp;</td></tr>
<tr><td rowspan="2">$gedcom.getName("BIRT")</td><td>$gedcom.getName("DATE")</td><td>$!BIRT.Date</td><td>$gedcom.getName("PLAC")</td><td colspan="2">$!BIRT.Place</td></tr>
<tr><td>Notes :</td><td colspan="4"></td></tr>
<tr><td rowspan="2">$gedcom.getName("DEAT")</td><td>$gedcom.getName("DATE")</td><td>$!DEAT.Date</td><td>$gedcom.getName("PLAC")</td><td colspan="2">$!DEAT.Place</td></tr>
<tr><td>Notes :</td><td colspan="4"></td></tr>
<tr><td colspan="6">Parents</td></tr>
<tr><td>Père:</td><td colspan="5">$!father</td></tr>
<tr><td>Mère:</td><td colspan="5">$!mother</td></tr>
#if($list.size($fams)>=2)
<tr><td colspan="6">$gedcom.getName("FAM",true)</td></tr>
#else
<tr><td colspan="6">$gedcom.getName("FAM",false )</td></tr>
#end
#foreach ($child in $FAMC.Children)
<tr><td></td><td>Enfants</td><td colspan="4">$!child</td></tr>
#end
<tr><td colspan="6">&Eacute;v&eacute;nements</td></tr>
#foreach($o in $OCCU)
	<tr><td rowspan="3">$gedcom.getName("OCCU")</td><td colspan="5">$o.Value</td></tr>
<tr><td>Date</td><td>$!o.Date</td><td>Lieu</td><td colspan="2">$!o.Place</td></tr>
<tr><td>Notes :</td><td colspan="4">$!o.Notes</td></tr>
#end
#foreach($o in $RESI)
	<tr><td rowspan="3">$gedcom.getName("RESI")</td><td colspan="5">$o.Value</td></tr>
<tr><td>Date</td><td>$!o.Date</td><td>Lieu</td><td colspan="2">$!o.Place</td></tr>
<tr><td>Notes :</td><td colspan="4">$!o.Notes</td></tr>
#end
<tr><td colspan=6>Notes</td></tr>
#foreach($note in $NOTES)
	#foreach($line in $note)
		$line<br>
	#end
#end

