<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr-fr"><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" /><title>Fiche individu compl&egrave;te</title>

<style type="text/css">
html {
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size: 0.75em;
line-height: 1.2em;
}
.lital {
font-style: italic;
font-weight: normal;
font-size: 0.5em;
}
h1 {
font-family: inherit;
font-size: 1.5em;
line-height: 3em;
font-weight: bold;
background-color: #ffff66;
text-align: center;
}
h2 {
font-family: inherit;
font-weight: bold;
font-size: 1.2em;
line-height: 1.8em;
padding-left: 0.5em;
}
h3 {
font-family: inherit;
font-weight: bold;
font-size: 1.1em;
line-height: 1em;
}
h4 {
font-family: inherit;
font-weight: bold;
font-size: 1em;
line-height: 1em;
}
.megr {
font-style: normal;
font-weight: normal;
}
.mital {
font-style: italic;
font-weight: bold;
}
.metit {
color: #000099;
text-decoration: underline;
}
.droite {
text-align: right;
}
.cent {
text-align: center;
}
.conteneur {
padding: 0px;
width: 100%;
margin-left: 0em;
margin-top: 0;
margin-bottom: 0;
}
.spacer {
clear: both;
margin-top: 0;
margin-bottom: 0;
height: 0px;
}
.column1 {
float: left;
text-align: left;
width: 45%;
margin-left: 0.5em;
margin-right: 0;
margin-top: 0;
}
.column2 {
float: right;
text-align: left;
width: 45%;
margin-left: 0;
margin-right: 0.5em;
margin-top: 0;
}
.foncolo {
border-style: hidden hidden double;
border-color: black;
border-top: 0px hidden black;
background-color: #ccffff;
}
.focolo {
background-color: #ffff99;
}
.minicolo {
border-style: hidden hidden simple;
border-color: black;
border-top: 0px hidden black;
background-color: #ffff99;
}
</style><!-- ici finit l'ensemble des indications de presentation de la page web -------------->
</head>
<body>
#set($famc=$INDI.Famc)
#set($fams=$INDI.Fams)
#set($fam=$fams)
#set($fam1=$famc.Husband.fams)
#set($fam2=$famc.Husband.famc.Husband.fams)
#set($fam22=$famc.Wife.famc.Husband.fams)
#set($conjoint = $fams.getOtherSpouse())
#set($child=$children)
#set($famA=$fam.children.fams)
#set($fratrie=$famc.children.fams)
#set ($version="1.01")
<p><a name="top"></a></p>
<!----------------------------------- Titre de la page --------------------------->
<h1> Renseignements sur : <span class="metit"> $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN") ($INDI.Id)</span></h1>
<p class="droite">(Cette fiche a &eacute;t&eacute; g&eacute;n&eacute;r&eacute;e le $date.full_date par <A HREF="http://www.arvernes.com/V1/">GenJ, logiciel de g&eacute;n&eacute;alogie libre </A></p>
<!----------------- Zone de la photo -------------------------------------->
<h4 class="minicolo">Ascendant Sosa:
#foreach ($event in $INDI.getProperties("_SOSA")) $event.Value  </h4>
            #end
#set($portrait=$!INDI.getProperty("OBJE"))
#if ($portrait)
<p class="droite">Photo de $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN")<br>
<IMG SRC="file:///$!INDI.getProperty("OBJE:FILE").AbsolutePath" width="150"</p>
#end
<!----------------------------- Zone de l'identite ---------------------------------------->
<h2 class="foncolo">&Eacute;v&eacute;nements et documents d'&eacute;tat-civil </h2>
<div class="conteneur"><!-- premiere colonne -->
<div class="column1">
<h3>Nom complet : <span class="mital">$!INDI.getProperty("NAME")</span></h3>
<h4>Nom de famille : <span class="megr">$!INDI.getProperty("NAME:SURN")</span></h4>
<h3>Naissance : <span class="megr">$!INDI.getProperty("BIRT:DATE")</span></h3>
<h4>Lieu de naissance : <span class="megr">$!INDI.getProperty("BIRT:PLAC")</span></h4>
<h4>Source : <span class="megr">$!INDI.getProperty("BIRT:SOUR")</span></h4>
 #set($presents=$INDI.getProperties("BIRT:XREF"))
  #if ($presents)
<h4 class="minicolo">------> Pr&eacute;sents : </h4>
#foreach ($event in $INDI.getProperties("BIRT:XREF"))
<ul>
<li>         $event.Value  </li>
</ul>
            #end
 #end
 #set($bapteme=$INDI.getProperty("BAPM"))
  #if ($bapteme)
<h3>Bapt&ecirc;me : <span class="megr">$!INDI.getProperty("BAPM:DATE")</span></h3>
<h4>Lieu du bapt&ecirc;me : <span class="megr">$!INDI.getProperty("BAPM:PLAC")</span></h4>
<h4>Source : <span class="megr">$!INDI.getProperty("BAPM:SOUR")</span></h4>
 #set($presents=$INDI.getProperties("BAPM:XREF"))
  #if ($presents)
<h4 class="minicolo">------> Pr&eacute;sents : </h4>
#foreach ($event in $INDI.getProperties("BAPM:XREF"))
<ul>
<li>         $event.Value  </li>
</ul>
            #end  #end
 #end
</div>
<!-- deuxi&egrave;me colonne -->
<div class="column2">
<h3>Sexe : <span class="megr">$!INDI.getProperty("SEX")</span></h3>
<h4>Pr&eacute;nom : <span class="megr">$!INDI.getProperty("NAME:GIVN")</span></h4>
<h4>D&eacute;c&egrave;s :<span class="megr">$!INDI.getProperty("DEAT:DATE")</span></h4>
<h4>Lieu du D&eacute;c&egrave;s : <span class="megr">$!INDI.getProperty("DEAT:PLAC")</span></h4>
<h4>Source : <span class="megr">$!INDI.getProperty("DEAT:SOUR")</span></h4>
 #set($presents=$INDI.getProperties("DEAT:XREF"))
  #if ($presents)
<h4 class="minicolo">------> Pr&eacute;sents : </h4>
#foreach ($event in $INDI.getProperties("DEAT:XREF"))
<ul>
<li>         $event.Value  </li>
</ul>
            #end
 #end
 #set($inhumation=$INDI.getProperty("BURI"))
  #if ($inhumation)
<h4>Inhumation :<span class="megr">$!INDI.getProperty("BURI")</span></h4>
<h4>Lieu de l'inhumation : <span class="megr">$!INDI.getProperty("BURI:DATE")</span></h4>
<h4>Source : <span class="megr">$!INDI.getProperty("BURI:SOUR")</span></h4>
 #set($presents=$INDI.getProperties("BURI:XREF"))
  #if ($presents)
<h4 class="minicolo">------> Pr&eacute;sents : </h4>
#foreach ($event in $INDI.getProperties("BURI:XREF"))
<ul>
<li>         $event.Value  </li>
</ul>
            #end
 #end  #end
</div>
<div class="spacer"></div>
</div>
<!----------------------- Fin de pr&eacute;sentation sur deux colonnes --------------------->
<!-------------------------- Zone de l'adresse ----------------------------------->
<h2 class="foncolo">Adresse et profession : </h2>
<div class="conteneur"><!-- premiere colonne -->
<div class="column1">
 <h3>Adresses : </h3>
 #set($residence=$INDI.getProperty("RESI"))
  #if ($residence)
  #if($list.size($INDI.getProperties("RESI"))>=2)
<p>$!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN") a v&eacute;cu &agrave; : </p>
      #else
<p>$!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN") a v&eacute;cu &agrave; : </p>
      #end
          #set($adresse_code=$!resi.getProperty("ADDR:POST"))
#foreach($resi in $INDI.getProperties("RESI"))
#if ($!resi.getProperty("ADDR"))
<ul>
<li><h3><span class="megr">$!resi.getProperty("ADDR"), $!resi.getProperty("ADDR:CITY") ($!resi.getProperty("ADDR:POST"))</span></h3></li>
</ul>
        #else

<ul>
<li><h4><span class="megr">$!resi.Place $!resi.getProperty("DATE").format("(Date : {$v})")</span></h4></li>
</ul>
#end


##       #set($residence_date=$INDI.getProperty("RESI:DATE"))
##       #if ($residence_date)
##       (Date : $!resi.Date)
##       #end

			#end
  #end
</div>
<!-------------------------- Zone de la profession ----------------------------------->
<!-- deuxi&egrave;me colonne -->
<div class="column2">
 #set($profession=$INDI.getProperty("OCCU"))
  #if ($profession)
#if($list.size($INDI.getProperties("OCCU"))>=2)
 <h3>Professions : </h3>
<p>$!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN") a exerc&eacute; plusieurs professions durant sa vie:</p>

  #else
 <h3>Profession : <h3>
      #end
#foreach($occu in $INDI.getProperties("OCCU"))
<ul>
<li><h4><span class="megr">$!occu.Value $!occu.Place $!occu.Date</span></h4></li>
</ul>
       #end
			#end
</div>
<div class="spacer"></div>
</d
<!---------------------------------- Parents -------------------------------------------->
<h2 class="foncolo">Parents ($!famc.Id) </h2>
Les parents de $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN") sont
<h3>P&egrave;re : <span class="megr">$!famc.Husband.getProperty("NAME") ($!famc.Husband.Id) (o $famc.Husband.getProperty("BIRT:DATE") &agrave; $famc.Husband.getProperty("BIRT:PLAC")) -  + $famc.Husband.getProperty("DEAT:DATE") &agrave; $famc.Husband.getProperty("DEAT:PLAC"))</span></h3>
<h3>M&egrave;re : <span class="megr">$!famc.Wife.getProperty("NAME") ($!famc.Wife.Id) (o $famc.Wife.getProperty("BIRT:DATE") &agrave; $famc.Wife.getProperty("BIRT:PLAC")) - (+ $famc.Wife.getProperty("DEAT:DATE") &agrave; $famc.Wife.getProperty("DEAT:PLAC"))</span></h3>
<h3>Ils se sont mari&eacute;s <span class="megr">#foreach ($fam1 in $famc.Husband.fams)le $!fam1.getProperty("MARR:DATE") &agrave; $!fam1.getProperty("MARR:PLAC") #end </h3>
<!---------------------------------- Grands-Parents -------------------------------------------->
<h2 class="foncolo">Grands-parents ($!famc.Id) </h2>
<h4 class="focolo">Les grands-parents paternels de $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN") sont</h4>
<ul>
<li><h4>Grand-p&egrave;re paternel</h4> :
            $!INDI.Famc.Husband.Famc.Husband.getProperty("NAME") ($!INDI.Famc.Husband.Famc.Husband.Id) -
 #set($grandpere_du_pere_lieu_de_naissance=$INDI.Famc.Husband.Famc.Husband.getProperty("BIRT:PLAC"))
             #if ($grandpere_du_pere_lieu_de_naissance)
o $!INDI.Famc.Husband.Famc.Husband.getProperty("BIRT:DATE") &agrave;
$!INDI.Famc.Husband.Famc.Husband.getProperty("BIRT:PLAC")  -
 #else
             $!INDI.Famc.Husband.Famc.Husband.getProperty("BIRT:DATE") <br />
             #end
#set($grandpere_du_pere_lieu_de_deces=$INDI.Famc.Husband.Famc.Husband.getProperty("DEAT:PLAC"))
             #if ($grandpere_du_pere_lieu_de_deces)
+ $!INDI.Famc.Husband.Famc.Husband.getProperty("DEAT:DATE") &agrave; $!INDI.Famc.Husband.Famc.Husband.getProperty("DEAT:PLAC")  </li>
 #else
             $!INDI.Famc.Husband.Famc.Husband.getProperty("DEAT:DATE") </li>
             #end


<li><h4>Grand-M&egrave;re paternelle</h4> :
$!INDI.Famc.Husband.Famc.Wife.getProperty("NAME") ($!INDI.Famc.Husband.Famc.Wife.Id) -
#set($grandmere_du_pere_lieu_de_naissance=$INDI.Famc.Husband.Famc.Wife.getProperty("BIRT:PLAC"))
             #if ($grandmere_du_pere_lieu_de_naissance)
o $!INDI.Famc.Husband.Famc.Wife.getProperty("BIRT:DATE") &agrave;
 $!INDI.Famc.Husband.Famc.Wife.getProperty("BIRT:PLAC") -
#else
             $!INDI.Famc.Husband.Famc.Wife.getProperty("BIRT:DATE") -
  #end
             #set($grandmere_du_pere_lieu_de_deces=$INDI.Famc.Husband.Famc.Wife.getProperty("DEAT:PLAC"))
             #if ($grandmere_du_pere_lieu_de_deces)
+ $!INDI.Famc.Husband.Famc.Wife.getProperty("DEAT:DATE") &agrave; $!INDI.Famc.Husband.Famc.Wife.getProperty("DEAT:PLAC") </li>
#else
             $!INDI.Famc.Husband.Famc.Wife.getProperty("DEAT:DATE") </li>
 #end

</ul>
<h4>Ils se sont mari&eacute;s le <span class="megr">#foreach ($fam2 in $famc.Husband.famc.Husband.fams) $!fam2.getProperty("MARR:DATE") &agrave; $!fam2.getProperty("MARR:PLAC")  #end

<h4 class="focolo">Les grands-parents maternels de $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN") sont</h4>
<ul>
<li><h4>Grand-p&egrave;re maternel</h4> :
             $!INDI.Famc.Wife.Famc.Husband.getProperty("NAME") ($!INDI.Famc.Wife.Famc.Husband.Id) -
 #set($grandpere_du_pere_lieu_de_naissance=$INDI.Famc.Wife.Famc.Husband.getProperty("BIRT:PLAC"))
             #if ($grandpere_du_pere_lieu_de_naissance)
o $!INDI.Famc.Wife.Famc.Husband.getProperty("BIRT:DATE") &agrave;
$!INDI.Famc.Wife.Famc.Husband.getProperty("BIRT:PLAC")  -
 #else
             $!INDI.Famc.Wife.Famc.Husband.getProperty("BIRT:DATE") -
             #end
#set($grandpere_du_pere_lieu_de_deces=$INDI.Famc.Wife.Famc.Husband.getProperty("DEAT:PLAC"))
             #if ($grandpere_du_pere_lieu_de_deces)
+ $!INDI.Famc.Wife.Famc.Husband.getProperty("DEAT:DATE") &agrave; $!INDI.Famc.Wife.Famc.Husband.getProperty("DEAT:PLAC")  </li>
 #else
             $!INDI.Famc.Wife.Famc.Husband.getProperty("DEAT:DATE") </li>
             #end


<li><h4>Grand-m&egrave;re maternelle</h4> :
$!INDI.Famc.Wife.Famc.Wife.getProperty("NAME") ($!INDI.Famc.Wife.Famc.Wife.Id)  -
#set($grandmere_du_pere_lieu_de_naissance=$INDI.Famc.Wife.Famc.Wife.getProperty("BIRT:PLAC"))
             #if ($grandmere_du_pere_lieu_de_naissance)
o $!INDI.Famc.Wife.Famc.Wife.getProperty("BIRT:DATE") &agrave;
 $!INDI.Famc.Wife.Famc.Wife.getProperty("BIRT:PLAC") -
#else
             $!INDI.Famc.Wife.Famc.Wife.getProperty("BIRT:DATE") -
  #end
             #set($grandmere_du_pere_lieu_de_deces=$INDI.Famc.Wife.Famc.Wife.getProperty("DEAT:PLAC"))
             #if ($grandmere_du_pere_lieu_de_deces)
+ $!INDI.Famc.Wife.Famc.Wife.getProperty("DEAT:DATE") &agrave; $!INDI.Famc.Wife.Famc.Wife.getProperty("DEAT:PLAC") </li>
#else
             $!INDI.Famc.Wife.Famc.Wife.getProperty("DEAT:DATE") </li>
 #end

</ul>
<h4>Ils se sont mari&eacute;s le <span class="megr">#foreach ($fam22 in $famc.Wife.famc.Husband.fams) $!fam22.getProperty("MARR:DATE") &agrave; $!fam22.getProperty("MARR:PLAC")  #end
<!---------------------------------- Freres et soeurs -------------------------------------------->
<h2 class="foncolo">Fr&egrave;res et soeurs </h2>
<h4 class="focolo">Les fr&egrave;res et soeurs de $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN") sont : </h4>

#foreach ($child in $famc.Children)
<ul><li>
$!child.getProperty("NAME") ($!child.Id). (o $!child.getProperty("BIRT:DATE") - $!child.getProperty("BIRT:PLAC")) -
(+ $!child.getProperty("DEAT:DATE") $!child.getProperty("DEAT:PLAC"))
 </li> </ul> #end



<!---------------------------------- Mariage ----------------------------------------------->
<h2 class="foncolo">&Eacute;v&eacute;nements et documents sur la famille :</h2>
#foreach ($fam in $fams)
        #if($list.size($fams)>=2)
<h2 class="focolo">&nbsp;</h2>
<h3>Mariage $velocityCount  ($fam.Id) :</h3>
        #else
<h2 class="focolo">&nbsp;</h2>
<h3>Mariage ($fam.Id)</h3>
        #end
#set($conjoint = $fam.getOtherSpouse())
#set($marr_source=$fam.getProperty("MARR:SOUR"))
<!-- debut de presentation sur deux colonnes -->
<div class="conteneur"><!-- premiere colonne -->
<div class="column1">
<p>Mariage ... : $fam.getProperty("MARR:DATE") - $fam.getProperty("MARR:PLAC")</p>
#if ($marr_source) <p>Source ... :  $fam.getProperty("MARR:SOUR") </p>#end

#set($contrat_de_mariage=$fam.getProperty("MARC:AGNC"))
              #if ($contrat_de_mariage)
<p>Contrat de Mariage : le $fam.getProperty("MARC:DATE") chez $fam.getProperty("MARC:AGNC") </p>
<p>Source ... : $fam.getProperty("MARC:SOUR") </p>
<h3>Conjoint : <span class="megr">$!conjoint.getProperty("NAME") ($!conjoint.Id)</span></h3>
<p>o $!conjoint.getProperty("BIRT") $!conjoint.getProperty("BIRT:DATE") - $!conjoint.getProperty("BIRT:PLAC")</p>
<p>Source ... : $!conjoint.getProperty("BIRT:SOUR") </p>
+ $!conjoint.getProperty("DEAT") $!conjoint.getProperty("DEAT:DATE") - $!conjoint.getProperty("DEAT:PLAC")</p>
<p>Source ... : $!conjoint.getProperty("DEAT:SOUR") </p>
#end
#set($divorce=$fam.getProperty("DIV"))
	#if ($divorce)
<p>Divorce : $divorce.Date - $divorce.Place </p>
<p>Source ... : $!conjoint.getProperty("DIV:SOUR") </p>
	#end
</div>
<!-- deuxieme colonne -->
<!--------------------------- Presents au mariage --------------------->
<div class="column2">
<h3>Pr&eacute;sents au mariage :</h3>
#foreach ($event in $fam.getProperties("MARR:XREF"))
<ul>
<li>         $event.Value  </li>
</ul>
            #end
</div>
<div class="spacer"></div>
</div>
<!--------------------------- Fin de presentation sur deux colonnes --------------------->
<!----------------------- Enfants -------------------------------------------------->

<h3> Enfants : </h3>


#foreach ($child in $fam.Children)
<li>
$!child.getProperty("NAME") ($!child.Id). (o $!child.getProperty("BIRT:DATE") - $!child.getProperty("BIRT:PLAC")) - (+ $!child.getProperty("DEAT:DATE") $!child.getProperty("DEAT:PLAC"))</li>#end



#end

<!------------------------------------- Testament ------------------->
<h2 class="foncolo">Testament : </h2>
#set($testament=$INDI.getProperty("WILL"))
#set($testament_agnc=$!INDI.getProperty("WILL:AGNC"))
 #set($testament_lieu=$!INDI.getProperty("WILL:PLAC"))
#set($testament_source=$!INDI.getProperty("WILL:SOUR"))
#foreach($will in $INDI.getProperties("WILL"))
<h3>Date, notaire et lieu de r&eacute;daction : <span class="megr">$!INDI.getProperty("WILL:DATE")
      #if ($testament_agnc) - $!INDI.getProperty("WILL:AGNC") #end
#if ($testament_lieu) - $!INDI.getProperty("WILL:PLAC") #end</span></h3>
<h3>Source : #if($testament_source) <span class="megr">$!INDI.getProperty("WILL:SOUR")/span></h3>#end
#end
<!------------------------- Complements -------------------------------------------------->
<h2 class="foncolo">&Eacute;v&eacute;nements et documents divers</h2>
      #set($events_in_life=$INDI.getProperties("EVEN"))
      #if ($events_in_life)
			<P>Plusieurs &eacute;v&egrave;nements ou documents compl&egrave;tent notre connaissance de la vie de $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN").</P>
			<div
			#foreach($even in $INDI.getProperties("EVEN"))
			<ul>
<li>$!even.Date : $!even.getProperty("TYPE"), $!even.Place Note : $!even.Notes</li>
</ul>
			#end
      #else
      <P>
      Je n'ai pas trouv&eacute; d'&eacute;v&egrave;nement marquant dans la
      vie de $INDI.getString("Monsieur","Madame") $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN").
      </P>
      #end
      </div>
<!------------------------------------- Associations ------------------->
<h2 class="foncolo">Pr&eacute;sence dans des &eacute;v&egrave;nements :</h2>
      #set($asso_in_life=$INDI.getProperties("ASSO"))
<p>      #if ($asso_in_life)
			$INDI.getString("Monsieur","Madame") $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN")
      fut $INDI.getString("associ&eacute;","associ&eacute;e") &agrave;
			plusieurs &eacute;v&egrave;nements :</p>
      #foreach ($event in $INDI.getProperties("ASSO"))
<ul>
      <li>$event.getProperty("RELA") de $!event.Target</li>
</ul>
      #end
      #else
      $INDI.getString("Monsieur","Madame") $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN"), n'a
      &eacute;t&eacute; $INDI.getString("associ&eacute;","associ&eacute;e") &agrave;
			aucun &eacute;v&egrave;nement dans notre g&eacute;n&eacute;alogie
<p>&nbsp;</p>
      #end
<!-------------------------- notes individus ----------------------------------->
<h2 class="foncolo">Notes diverses :</h2>
#set($note=$INDI.getProperty("INDI:NOTE"))
  #if ($note)
<ul>
<li><h3>Note sur l'individu : <span class="megr">"$!INDI.getProperty("INDI:NOTE")"</span></h3></li>
</ul>
 #end
#set($note=$INDI.getProperty("NAME:NOTE"))
  #if ($note)
<ul>
      <li><h3>Note sur le nom : <span class="megr">"$!INDI.getProperty("NAME:NOTE")"</span></h3></li>
</ul>
 #end
#set($note=$INDI.getProperty("BIRT:NOTE"))
  #if ($note)
<ul>
      <li><h3>Note de naissance : <span class="megr">"$!INDI.getProperty("BIRT:NOTE")"</span></h3></li>
</ul>
 #end
#set($note=$INDI.getProperty("BAPM:NOTE"))
  #if ($note)
<ul>
      <li><h3>Note de bapt&ecirc;me : <span class="megr">"$!INDI.getProperty("BAPM:NOTE")"</span></h3></li>
</ul>
 #end
#set($note=$INDI.getProperty("DEAT:NOTE"))
  #if ($note)
<ul>
      <li><h3>Note de d&eacute;c&egrave;s : <span class="megr">"$!INDI.getProperty("DEAT:NOTE")"</span></h3></li>
</ul>
 #end
#set($note=$INDI.getProperty("BURI:NOTE"))
  #if ($note)
<ul>
      <li><h3>Note d'inhumation : <span class="megr">"$!INDI.getProperty("BURI:NOTE")"</span></h3></li>
</ul>
 #end
#set($note=$INDI.getProperty("MARR:NOTE"))
  #if ($note)
<ul>
      <li><h3>Note de mariage : <span class="megr">"$!INDI.getProperty("MARR:NOTE")"</span></h3></li>
</ul>
 #end
#set($note=$INDI.getProperty("MARC:NOTE"))
  #if ($note)
<ul>
      <li><h3>Note sur le contrat de mariage : <span class="megr">"$!INDI.getProperty("MARC:NOTE")"</span></h3></li>
</ul>
 #end
#set($note=$INDI.getProperty("RESI:NOTE"))
#set($place=$INDI.getProperty("RESI:PLAC"))
#foreach($note in $INDI.getProperties("RESI:NOTE"))
  #if ($note)
<ul>
 <li><h3>Note de domicile : <span class="megr">"$!note.Value"</span></h3></li>
</ul>
 #end
 #end

#set($note=$INDI.getProperty("OCCU:NOTE"))
  #if ($note)
<ul>
<li><h3>Note sur la profession : <span class="megr">"$!INDI.getProperty("OCCU:NOTE")"</span></h3></li>
</ul>
 #end
#set($note=$INDI.getProperty("WILL:NOTE"))
  #if ($note)
<ul> <li><h3>Note de testament : <span class="megr">"$!INDI.getProperty("WILL:NOTE")"</span></h3></li>
</ul>
 #end
#set($note=$INDI.getProperty("EVEN:NOTE"))
#if ($note)
#foreach($note in $INDI.getProperties("EVEN:NOTE"))
<ul>
<li><h3>Notes diverses : <span class="megr"> "$!note.Value"</span></h3></li>
</ul>

 #end
 #end
<DIV style="page-break-before:always"></DIV>.
<!------------------------------------- Citations de sources ------------------->
<h2 class="foncolo">Contenu des actes</h2>
#set($naissance_citation=$INDI.getProperty("BIRT:SOUR:DATA:TEXT"))
  #if ($naissance_citation)
<h4 class="focolo">Naissance du $!INDI.getProperty("BIRT:DATE")</h4>
<h4>Source de la naissance : <span class="megr">$!INDI.getProperty("BIRT:SOUR")</span></h4>
Texte de l'acte : <br>
<h4><span class="megr">$!INDI.getProperty("BIRT:SOUR:DATA:TEXT")</span></h4>  #end
#set($bapteme_citation=$INDI.getProperty("BAPM:SOUR:DATA:TEXT"))
  #if ($bapteme_citation)
<h4 class="focolo">Bapt&ecirc;me du $!INDI.getProperty("BAPM:DATE")</h4>
<h4>Source du bapt&ecirc;me : <span class="megr">$!INDI.getProperty("BAPM:SOUR")</span></h4>
Texte de l'acte : <br>
<h4><span class="megr">$!INDI.getProperty("BAPM:SOUR:DATA:TEXT")</span></h4>  #end
#set($deces_citation=$INDI.getProperty("DEAT:SOUR:DATA:TEXT"))
  #if ($deces_citation)
<h4 class="focolo">D&eacute;c&egrave;s du $!INDI.getProperty("DEAT:DATE")</h4>
<h4>Source du d&eacute;c&egrave;s : <span class="megr">$!INDI.getProperty("DEAT:SOUR")</span></h4><br>
Texte de l'acte : <br>
<h4><span class="megr">$!INDI.getProperty("DEAT:SOUR:DATA:TEXT")</span></h4> #end
#set($inhumation_citation=$INDI.getProperty("BURI:SOUR:DATA:TEXT"))
  #if ($inhumation_citation)
<h4 class="focolo">Inhumation du $!INDI.getProperty("BURI:DATE")</h4>
<h4>Source de l'inhumation : <span class="megr">$!INDI.getProperty("BURI:SOUR")</span></h4>
Texte de l'acte : <br>
<h4><span class="megr">$!INDI.getProperty("BURI:SOUR:DATA:TEXT")</span></h4>  #end
#set($testament_citation=$INDI.getProperty("WILL:SOUR:DATA:TEXT"))
#foreach($will in $INDI.getProperties("WILL"))
  #if ($testament_citation)
<h4 class="focolo">Testament du $!INDI.getProperty("WILL:DATE") : </h4>
<h4>Source du testament : <span class="megr">$!INDI.getProperty("WILL:SOUR")</span></h4><br>
Texte de l'acte : <br>
<h4><span class="megr">$!INDI.getProperty("WILL:SOUR:DATA:TEXT")</span></h4>#end #end

<!-- -----------------Galerie de photos -----------------------  -->
#set($resi=$!INDI.getProperty("RESI"))
#set($obj=$!resi.getProperty("OBJE"))
#if ($obj)
<DIV style="page-break-before:always"></DIV>
<h2 class="foncolo">Des vues des lieux o&ugrave; a v&eacute;cu $!INDI.getProperty("NAME:GIVN") $!INDI.getProperty("NAME:SURN")</h2>
#foreach ($resi in $!INDI.getProperties("RESI"))
<br>
<h4 class="focolo">&Eacute;poque de r&eacute;sidence : $!resi.getProperty("DATE") </h4>
<br>
<P><IMG SRC="file:///$!resi.getProperty("OBJE:FILE").AbsolutePath" width="500" <br>
<span class="lital">$!resi.getProperty("OBJE:TITL")</span>
</p>
<br>
#end #end
<!-- Merci de laisser le nom du modele et le numero de version  -->
<p class="droite">(Mod&egrave;le utilis&eacute;: Island modifi&eacute; par ChriDan [v. $version])  </p>

</body>
</html>