#set($sbc=$options.ShowBlankCells)
#macro(testaff $v)
	#set($isShown = 0)
	#if ($v || $sbc)
		#set($isShown = 1)
	#end
#end 
#macro( altnull $variable $alternate )
#if( "$!variable" == "" )$!alternate #else $variable #end
#end
#set($isOneEntity = (($list.size($INDIS) + $list.size($FAMS)) < 2))
#parse("gedart/startDoc.vm")
#if (!$isOneEntity && $options.ShowTOC)
	#parse("gedart/TOC.vm")
#end
#foreach($INDI in $INDIS)
	#parse("gedart/indiSheet.vm")
#end
#foreach($FAM in $FAMS)
	#parse("gedart/famSheet.vm")
#end
#if (!$isOneEntity && $options.ShowIndex)
	#parse("gedart/index.vm")
#end
#parse("gedart/endDoc.vm")
